<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo_pur_beurre-favicon.png' %}" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
        <title>Pur beurre</title>
    </head>
    <body>

        {% if user.is_authenticated %}
            {% include 'menu/menu_connect.html' %}
        {% else %}
            {% include 'menu/menu_no_connect.html' %}
        {% endif %}

        {% if header %}
            <div id="header">
                <br/><br/><br/><br/>
                <h2> {{ data_header }}</h2>
                <br/><br/><br/><br/>
            </div>
        {% endif %}

        <div>
            <div id="body" class="container col-sm-12">
                {% block content %}
                {% endblock %}
            </div>
            {% include 'footer.html' %}
        </div>

        <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
	    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>-->
        <!--<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/cupertino/jquery-ui.css" type="text/css"/>-->


        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
          <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
          <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script type="text/javascript" src="{% static 'js/save_product.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/delete_product.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/get_page_food.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/get_all_foods.js' %}"></script>

        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>-->
	<!--&lt;!&ndash;<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>&ndash;&gt;-->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    </body>
</html>