{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}

    <div class="row">
        {% if user.is_authenticated %}
            <div id="search_food" class="div_element">
                <h1 class="paragraph_style color_with_dark_background" id="slogan"> Du gras oui, mais de qualité !</h1>
                <h3 class="color_with_dark_background"> Trouvez un aliment de subsitution pour ceux que vous consommez tous les jours : </h3>
                <br/>
                <form action="search_food" method="post" class="form-inline" id="food_form"><!-- class="form-inline pull-left form-group"-->
                    {% csrf_token %}
                    {{ food_form }}
                    <input type="submit" value="Chercher" id="input_search_food" class="input-sm form-control" />
                </form>
            </div>

        {% endif %}
    </div>

    <div class="row">
        <section id="history" class="div_element">
            <br/>
            <h3 class="color_text_dark">Colette et Remy</h3>
            <hr ><br/>

            <div>
                <p class="color_text_dark" id="txt_history">

                Nous sommes une jeune startup fondée par Remy et Colette Tatou, deux restaurateurs de renom. Notre restaurant, <br />
                situé à Montmartre (Paris), compte une cinquantaine de couverts et ne désemplit pas. Notre spécialité, <br />
                la ratatouille, nous attire une clientèle internationale charmée par les délices de ce plat typique.  <br />
                Remy et Colette sont amoureux de la gastronomie française (on ne peut les blâmer !). Travaillant quotidiennement  <br />
                avec les meilleurs produits du terroir, ils affectionnent particulièrement la bonne chaire et aiment partager leur passion.<br />

                <img id="img_colette" src="{% static 'img/colette.png' %}"> <img id="img_remi" src="{% static 'img/remi.png' %}">
                </p>
            </div>
        </section>
    </div>

    <div class="row">
        <section id="contact" class="div_element">
            <h3>Contactez-nous !</h3>
            <hr ><br/>

            <table class="table_foods">
                <TR>
                    <TH>
                        <img id="img_phone" src="{% static 'img/phone.png' %}">
                    </TH>

                    <TH>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                    </TH>

                    <TH>
                        <img id="img_mail" src="{% static 'img/mail.png' %}">
                    </TH>

                </TR>

                <TR>
                    <TH>
                        <p>0000000000</p>
                    </TH>
                    <TH>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                    </TH>
                    <TH>
                        <p>mail@mail.com</p>
                    </TH>
                </TR>
            </table>
            <!--<br/><br/><br/>-->
        </section>
    </div>


{% endblock %}