{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}

    <div class="row">
        {% if user.is_authenticated %}
            <div id="search_food" class="div_element">
                <h1 class="paragraph_style color_with_dark_background" id="slogan"> Fat yes, but of high quality !</h1>
                <h3 class="color_with_dark_background"> Find a substitute food for those you eat every day : </h3>
                <br/>
                <form action="search_food/1" method="post" class="form-inline ui-widget" id="food_form"><!-- class="form-inline pull-left form-group"-->
                    {% csrf_token %}
                    {{ food_form }}
                    <input type="submit" value="Search" class="input-sm form-control" />
                </form>
            </div>

        {% endif %}
    </div>

    <div class="row">
        <section id="history" class="div_element">
            <br/>
            <h3 class="color_text_dark">Colette and Remy</h3>
            <hr ><br/>

            <div>
                <p class="color_text_dark" id="txt_history">

                We are a recently start up founded by Remy and Colette Tatou, two famour restaurant. Our restaurant, based in  <br />
                Montmartre (Paris), have a fifty place settings and does not empty out. Ratatouille attract us a international  <br />
                customers charmed by the delights of this typical dish. Remy and Colette are in love of french gastronomy (we can't   <br />
                judge them). Working daily with the bests local products, they are particularly fond of the good chair and like to share their passion.<br />


                <img id="img_colette" src="{% static 'img/colette.png' %}"> <img id="img_remi" src="{% static 'img/remi.png' %}">
                </p>
            </div>
        </section>
    </div>

    <div class="row">
        <section id="contact" class="div_element">
            <h3>Contact us !</h3>
            <hr ><br/>

            <table class="table_foods">
                <TR>
                    <TH>
                        <img id="img_phone" src="{% static 'img/phone.png' %}">
                    </TH>

                    <TH>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                    </TH>

                    <TH>
                        <img id="img_mail" src="{% static 'img/mail.png' %}">
                    </TH>

                </TR>

                <TR>
                    <TH>
                        <p>0000000000</p>
                    </TH>
                    <TH>
                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                    </TH>
                    <TH>
                        <p>mail@mail.com</p>
                    </TH>
                </TR>
            </table>
            <!--<br/><br/><br/>-->
        </section>
    </div>

          <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
          <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
          <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

        <!--<script>-->
          <!--$( function() {-->
            <!--var availableTags = [-->
              <!--"ActionScript",-->
              <!--"AppleScript",-->
              <!--"Asp",-->
              <!--"BASIC",-->
              <!--"C",-->
              <!--"C++",-->
              <!--"Clojure",-->
              <!--"COBOL",-->
              <!--"ColdFusion",-->
              <!--"Erlang",-->
              <!--"Fortran",-->
              <!--"Groovy",-->
              <!--"Haskell",-->
              <!--"Java",-->
              <!--"JavaScript",-->
              <!--"Lisp",-->
              <!--"Perl",-->
              <!--"PHP",-->
              <!--"Python",-->
              <!--"Ruby",-->
              <!--"Scala",-->
              <!--"Scheme"-->
            <!--];-->
            <!--$( "#input_search_food" ).autocomplete({-->
              <!--source: availableTags-->
            <!--});-->
          <!--} );-->
        <!--</script>-->

{% endblock %}